<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://e-pooling.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>e-pooling.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>E-pooling</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$E-pooling</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="votingConnectionString2" Order="1" Enabled="False">
          <Destination Path="Data Source=e-pooling.database.windows.net;Initial Catalog=voting;Persist Security Info=True;User ID=Ashok;Password=Syntel_757" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:e-pooling.database.windows.net,1433;Initial Catalog=voting;Persist Security Info=False;User ID=ashok;Password=Syntel_757;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\votingConnectionString2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:e-pooling.database.windows.net,1433;Initial Catalog=voting;Persist Security Info=False;User ID=ashok;Password=Syntel_757;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="votingConnectionString3" Order="2" Enabled="False">
          <Destination Path="Data Source=e-pooling.database.windows.net;Initial Catalog=voting;Persist Security Info=True;User ID=Ashok;Password=Syntel_757" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:e-pooling.database.windows.net,1433;Initial Catalog=voting;Persist Security Info=False;User ID=ashok;Password=Syntel_757;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\votingConnectionString3_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:e-pooling.database.windows.net,1433;Initial Catalog=voting;Persist Security Info=False;User ID=ashok;Password=Syntel_757;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="votingConnectionString" Order="3" Enabled="False">
          <Destination Path="Data Source=e-pooling.database.windows.net;Initial Catalog=voting;Persist Security Info=True;User ID=Ashok;Password=Syntel_757" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:e-pooling.database.windows.net,1433;Initial Catalog=voting;Persist Security Info=False;User ID=ashok;Password=Syntel_757;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\votingConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:e-pooling.database.windows.net,1433;Initial Catalog=voting;Persist Security Info=False;User ID=ashok;Password=Syntel_757;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="votingdatabase" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=tcp:e-pooling.database.windows.net,1433;Initial Catalog=voting;Persist Security Info=False;User ID=ashok;Password=Syntel_757;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\votingdatabase_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:e-pooling.database.windows.net,1433;Initial Catalog=voting;Persist Security Info=False;User ID=ashok;Password=Syntel_757;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="votingConnectionString3-Web.config Connection String">
      <ParameterValue>data source=e-pooling.database.windows.net;initial catalog=voting;persist security info=True;user id=Ashok;password=Syntel_757;MultipleActiveResultSets=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="votingConnectionString2-Web.config Connection String">
      <ParameterValue>data source=e-pooling.database.windows.net;initial catalog=voting;persist security info=True;user id=Ashok;password=Syntel_757;MultipleActiveResultSets=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="votingConnectionString-Web.config Connection String">
      <ParameterValue>data source=e-pooling.database.windows.net;initial catalog=voting;persist security info=True;user id=Ashok;password=Syntel_757;MultipleActiveResultSets=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="votingConnectionString3-Web.config Connection String">
      <ParameterValue>data source=e-pooling.database.windows.net;initial catalog=voting;persist security info=True;user id=Ashok;password=Syntel_757;MultipleActiveResultSets=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="votingConnectionString2-Web.config Connection String">
      <ParameterValue>data source=e-pooling.database.windows.net;initial catalog=voting;persist security info=True;user id=Ashok;password=Syntel_757;MultipleActiveResultSets=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="votingConnectionString-Web.config Connection String">
      <ParameterValue>data source=e-pooling.database.windows.net;initial catalog=voting;persist security info=True;user id=Ashok;password=Syntel_757;MultipleActiveResultSets=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="votingConnectionString3-Web.config Connection String">
      <ParameterValue>data source=e-pooling.database.windows.net;initial catalog=voting;persist security info=True;user id=Ashok;password=Syntel_757;MultipleActiveResultSets=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="votingConnectionString2-Web.config Connection String">
      <ParameterValue>data source=e-pooling.database.windows.net;initial catalog=voting;persist security info=True;user id=Ashok;password=Syntel_757;MultipleActiveResultSets=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="votingConnectionString-Web.config Connection String">
      <ParameterValue>data source=e-pooling.database.windows.net;initial catalog=voting;persist security info=True;user id=Ashok;password=Syntel_757;MultipleActiveResultSets=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="votingConnectionString-Web.config Connection String">
      <ParameterValue>data source=e-pooling.database.windows.net;initial catalog=voting;persist security info=True;user id=Ashok;password=Syntel_757;MultipleActiveResultSets=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="votingConnectionString2-Web.config Connection String">
      <ParameterValue>data source=e-pooling.database.windows.net;initial catalog=voting;persist security info=True;user id=Ashok;password=Syntel_757;MultipleActiveResultSets=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="votingConnectionString3-Web.config Connection String">
      <ParameterValue>data source=e-pooling.database.windows.net;initial catalog=voting;persist security info=True;user id=Ashok;password=Syntel_757;MultipleActiveResultSets=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)votingdatabase-Web.config Connection String" />
  </ItemGroup>
</Project>