<?xml version="1.0"?>
<configuration>
  
  <system.web>
    <customErrors mode="Off"/>
  </system.web>
  <connectionStrings>
    <add name="votingdatabase" connectionString="Server=tcp:e-pooling.database.windows.net,1433;Initial Catalog=voting;Persist Security Info=False;User ID=ashok;Password=Syntel_757;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="votingConnectionString" connectionString="Server=tcp:e-pooling.database.windows.net,1433;Initial Catalog=voting;Persist Security Info=False;User ID=ashok;Password=Syntel_757;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="votingConnectionString2" connectionString="Server=tcp:e-pooling.database.windows.net,1433;Initial Catalog=voting;Persist Security Info=False;User ID=ashok;Password=Syntel_757;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="votingConnectionString3" connectionString="Server=tcp:e-pooling.database.windows.net,1433;Initial Catalog=voting;Persist Security Info=False;User ID=ashok;Password=Syntel_757;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <system.web>
    <authentication mode="Forms">
      <forms name="loginform" loginUrl="Default.aspx" defaultUrl="Elections.aspx"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <httpRuntime targetFramework="4.6"/>
  </system.web>
  <location path="admin.aspx">
    <system.web>
      <authorization>
        <allow users="1"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="addCandidates.aspx">
    <system.web>
      <authorization>
        <allow users="1"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="addElections.aspx">
    <system.web>
      <authorization>
        <allow users="1"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="editElections.aspx">
    <system.web>
      <authorization>
        <allow users="1"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Register.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>